<script src="users-list.component.ts"></script>
<p-breadcrumb class="max-w-full" [model]="menuBreadcrumb" [home]="home"></p-breadcrumb>

<div class="card mt-3">
    <h3>Administración de Especialidades</h3>
    <div class="grid">
        <div class="col-12">
            <div class="mt-2 mb-2">
                <div class="card">
                    <div class="grid">
                        <div class="xl:col-3 lg:col-4 md:col-4 sm:col-6 col-12">
                            <input type="text" pInputText placeholder="Nombre" class="w-full"
                                [(ngModel)]="specialityFilters.name" />
                        </div>
                        <div class="xl:col-3 lg:col-4 md:col-4 sm:col-6 col-12">
                            <p-dropdown inputId="drpTypeRole" placeholder="Estado" [style]="{'minWidth':'100%'}"
                                [options]="typeStatus" optionLabel="name" optionValue="id"
                                [(ngModel)]="specialityFilters.status"></p-dropdown>
                        </div>
                        <div class="xl:col-6 lg:col-12 md:col-12 sm:col-12 col-12">
                            <p-button icon="pi pi-search" label="Buscar" class="mr-1" (click)="onSearch()"></p-button>
                            <p-button icon="pi pi-plus" [routerLink]="['/configuration/specialities/create']"
                                label="Registrar especialidad" class="mr-1"></p-button>
                            <p-button icon="pi pi-filter-slash" class="mr-1" [rounded]="true" [text]="true"
                                pTooltip="Limpiar filtros" tooltipPosition="bottom"
                                (click)="onFilterReset()"></p-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <p-table [value]="specialities.data" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>ESPECIALIDAD</th>
                            <th>CÓDIGO</th>
                            <th>ESTADO</th>
                            <th>ACCIÓN</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-speciality>
                        <tr>
                            <td>{{ speciality.name }}</td>
                            <td>{{ speciality.code }}</td>
                            @if (speciality.status === true) {
                            <td>
                                <span [class]="'customer-badge status-qualified'">Activo</span>
                            </td>
                            }@else {
                            <td>
                                <span [class]="'customer-badge status-unqualified'">Inactivo</span>
                            </td>
                            }
                            <td>
                                <button pButton pRipple type="button" icon="pi pi-pencil"
                                    class="p-button-rounded p-button-text" pTooltip="Editar especialidad"
                                    tooltipPosition="bottom"
                                    [routerLink]="['/configuration/specialities/update', speciality.id]"></button>
                                <button pButton pRipple type="button" icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-text" pTooltip="Eliminar especialidad"
                                    tooltipPosition="bottom" (click)="onConfirmDeleteSpeciality($event, speciality.id)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="card flex justify-content-center">
                <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="specialityFilters.limit"
                    [totalRecords]="specialities.total_data"></p-paginator>
            </div>
        </div>
    </div>
</div>